@model List<Kolokwium.Models.Tag>
@{
    ViewData["Title"] = "Lista tagów";
}

<h2>Lista tagów</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td>@tag.Id</td>
                <td>@tag.Name</td>
            </tr>
        }
    </tbody>
</table>