@{
    ViewData["Title"] = "Biblioteka Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteka</h1>
     <a asp-controller="Ksiazka" asp-action="Index">Wszystkie Książki</a> <br>
     <a asp-controller="Wydawnictwo" asp-action="Index">Wydawnictwa index</a>
     <hr><br>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
