@model Kolokwium.ViewModel.VM.AddAutoVm

@{
    ViewData["Title"] = "Dodaj Auto";
}

<h2>Dodaj książkę</h2>

<form asp-action="Add" asp-controller="AddAuto" method="post">
    <div class="form-group">
        <label asp-for="Marka"></label>
        <input asp-for="Marka" class="form-control" />
        <span asp-validation-for="Marka" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RokProdukcji"></label>
        <input asp-for="RokProdukcji" class="form-control" />
        <span asp-validation-for="RokProdukcji" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ParkingId"></label>
        <input asp-for="ParkingId" class="form-control" />
        <span asp-validation-for="ParkingId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WlascicielId"></label>
        <input asp-for="WlascicielId" class="form-control" />
        <span asp-validation-for="WlascicielId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
    <a asp-action="Index" asp-controller="Auto" class="btn btn-secondary">Powrót</a>
</form>