* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px;
  background: #f0f0f0;
}

header {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.container {
  display: flex;
  flex: 1;
  gap: 10px;
}

nav {
  width: 250px;
  background: #444;
  color: white;
  padding: 20px;
  border-radius: 5px;
}
nav ul {
  list-style: none;
}
nav ul li {
  margin: 10px 0;
}
nav a {
  color: white;
  text-decoration: none;
}

main {
  background: #b6e4f8;
  flex: 1;
  padding: 20px;
  border-radius: 5px;
}

#accordion{
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

.newColor{
  background-color: #0073ea !important;
  color: #b6e4f8 !important;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {
  background-color: #8591fa;
  color: #555;
  font-weight: bold;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.article {
  background: #f4f4f4;
  padding: 15px;
  flex: 1;
  min-width: 400px;
  border: #333 solid 1px;
  border-radius: 5px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

/* -- jQuery Styles -- */
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em;}
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.ui-state-error { background-color: rgba(255, 38, 0, 0.308) !important;}

.slider-container {
  margin-bottom: 30px;
}

.slider {
  width: 300px;
}

.value {
  margin-left: 10px;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  nav {
    width: 100%;
    text-align: center;
  }
  .articles {
    flex-direction: column;
  }
}
